<html>
<head>
<title>first page</title>
</head>
<body style="background-color:powderblue;">
<h1></h1>
<form action="login" method="post" autocomplete="on">
 <fieldset>
 <legend>enter</legend>
  user name:<input type="text" name="username" required maxlength="10" placeholder="user name:" ><br>
  Password: <input type="password" name="password" placeholder= "password"  required><br><br>
  </fieldset>
    <input type = "submit" value="continue">
</form>
 <button onclick="location='/registration';">go to registration</button>
</body>
</html>