<html>
<head>
<title>new user</title>
</head>
<body style="background-color:powderblue;">
<h1></h1>
<form action="tryR" method="post" autocomplete="on">
 <fieldset>
 <legend>registration</legend>
  user name:<input type="text" name="user name" required maxlength="10" placeholder="user name" ><br>
  First name:<input type="text" name="first name" required maxlength="10" placeholder="First name" ><br>
  Last name: <input type="text" name="last name" maxlength="10" placeholder="Last name" required><br>
  E-mail: <input type="email" name="email" autocomplete="off" placeholder="E-mail" required><br>
  Password: <input type="password" name="password" placeholder= "password"  required><br>
  address: <input type="text" name="address" placeholder= "address"required><br>
  age: <input type="text" name="age" placeholder= "age"  required><br>
  <br>
  Gender:<br>
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
     <input type="submit" value="enter">
  </fieldset>
</form>
</body>
</html>